{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">Личный кабинет {{ request.user }}</h3>
<hr>
<h4 class="text-center">Ваши заказы</h4>
<table class="table">
    {% for item in order %}
    <tr style="background: lightblue">
        <td>Номер заказа</td>
        <td>Дата заказа</td>
        <td>Статус заказа</td>
        <td>Стоимость заказа</td>
        <td>Детали заказа</td>
    </tr>
    <tr>
        <td>{{ item.id}}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.total}}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}