{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EVM</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
    <script src='{% static "js/jquery.js" %}'></script>
</head>
<body>
    <body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">EVM- маркет</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <!-- условие скрывает навигацию на главной странице -->
    {% if not request.get_full_path == '/' %}
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Категории<li>
        </li>
        </a>
        <div class="dropdown-menu">
          {% for category in categories %}
            <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
          {% endfor %}
        </div>
  </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Гость</a>
          </li>
            {% else %}
           <li class="nav-item">
               <a class="nav-link" href="{% url 'account' %}">{{ request.user }} </a>
           </li>
            {% endif %}
        <li>
            <a class="nav-link" href="/">Домой
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">О нас</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Корзина <span class="badge" id="cart_count">{% if not request.session.total %}
            0 {% else %} {{ request.session.total }} {% endif %} </span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <!-- Page Content -->
  <div class="container">
        {% block content %}
    <div class="row">

      <div class="col-lg-3">

      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://placehold.it/900x350" alt="Первый слайд">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://placehold.it/900x350" alt="Второй слайд">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://placehold.it/900x350" alt="Третий слайд">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
          <br>
        <div class="row">
            {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img src="{{ product.image.url }}" alt="товар" style="width: 100%", height="250px" ></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}" style="color: #000; font-weight: bold;">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }} руб.</h5>
                {% if request.user.is_authenticated %}<p class="text-right"><a href="#" class="add_to_cart" data-slug="{{ product.slug }}">
                  <button class="btn btn-danger">В корзину</button></a></p>
                  {% else %}
                  {% endif %}
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
      {% endblock content %}
  </div>

  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "js/bootstrap.js" %}'></script>

  <script>
      $(document).ready(function () {
          $('.add_to_cart').on('click', function (e) {
              e.preventDefault()
              product_slug = $(this).attr('data-slug')
              data = {
                  product_slug: product_slug
              }
              $.ajax({
                  type: "GET",
                  url: '{% url "add_to_cart" %}',
                  data: data,
                  success: function (data) {
                      $("#cart_count").html(data.cart_total)
                  }
              })
          })
      })
  </script>
</body>

</body>
</html>