{% extends 'base.html' %}

{% block content %}
<h3 class="text-center">Ваша корзина</h3>
<br>
{% if cart.items.count > 0 %}
<div class="my_cart">


<table class="table">
    <tr>
    <td class="text-center">Товар</td>
    <td class="text-center">Количество</td>
    <td class="text-center">Цена: </td>
    </tr>

    {% for item in cart.items.all %}
  <tr id="{{ item.product.slug }}" ">
      <input type="hidden" class="cart-item" data-id="{{ item.product.id }}">
    <td class="text-center">{{item.product.title}}</td>
    <td class="text-center">
        <form action="" method="GET">
            <input type="number" name="qty" class="cart-item-qty" data-id="{{ item.id }}" value="{{ item.qty }}" min="1" style="width: 40px;">
        </form>
    </td>
    <td class="text-center" id="cart-item-total-{{ item.id }}">{{item.item_total}} руб.</td>
    <td class="text-center"><a href='#' class="remove_from_cart" data-slug="{{ item.product.slug }}"><button class="btn btn-danger">Удалить из корзины</button></a></td>
  </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class="text-center">Итого:</td>
        <td class="text-center" id="cart-total-price"><strong>{{ cart.cart_total }} руб.</strong></td>
        <td class="text-center"></td>
    </tr>
</table>
    <br>
    <a href="{% url 'checkout' %}" class="pull-right"><button class="btn btn-info">Мой заказ</button></a>
</div>
    <h3 class="cart-empty"></h3>
    {% else %}
    <h3 class="text-center">Ваша корзина пуста</h3>
    {% endif %}
    <script>

    $(document).ready(function () {
        $('.remove_from_cart').on('click', function f(e) {
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            item_product_id =$('.cart-item').attr('data-id')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url "remove_from_cart" %}',
                data: data,
                success: function (data) {
                    $("#cart_count").html(data.cart_total)
                    $('#'+product_slug).remove()
                    $('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2)+ 'руб. </strong>')
                }
            })
        })
    })
        $(document).ready(function () {
            $('.cart-empty').css('display', 'none')
            $('.cart-item-qty').on('click', function () {
                qty =$(this).val()
                item_id = $(this).attr('data-id')
                console.log(item_id)
                data = {
                    qty: qty,
                    item_id: item_id
                }
                $.ajax({
                    type: 'GET',
                    url: '{% url "change_item_qty" %}',
                    data: data,
                    success: function (data) {
                        $('#cart-item-total-'+ item_id).html(parseFloat(data.item_total).toFixed(2) + ' руб.')
                        $('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2)+ 'руб. </strong>')
                        if(parseInt(data.cart_total) == 0){
                            $('.my_cart').remove()
                            $('.cart-empty').css('display', 'block')
                            $('.cart-empty').html('<h3 class="text-center">Ваша корзина пуста</h3>')
                        }
                    }
                })
            })
        })
    </script>
</table>

{% endblock content %}

