{% extends 'base.html' %}

{% block content %}

    <div class="col-sm-12">
        <h2 class="text-center">{{ category.name }}</h2>
        <p>{{ product.title }}</p>
        <hr>
    </div>
<div class="container">
    <div class="row">
    {% for product in products_of_category %}

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="{{ product.image.url }}" alt="продукт">
                <p class="text-center"><a href="{{ product.get_absolute_url }}" class="card-title" style="color: #000; font-weight: bold;">{{ product.title}}</a></p>
                <p class="text-center" style="font-size: 20px; font-weight: bold;">{{ product.price }} руб.</p>
                   {% if request.user.is_authenticated %} <a href="#" class="add_to_cart" data-slug='{{ product.slug}}'>
                    <button class="btn btn-danger">Добавить в корзину</button></a>
                    {% else %}
                    <p class="text-center">Для заказа <a href="#">Войдите</a> или <a href="#">Зарегистрируйтесь</a></p>
                    {% endif %}
            </div>
        </div>
    </div>
<br>
    {% endfor %}

          <script>
      $(document).ready(function () {
          $('.add_to_cart').on('click', function (e) {
              e.preventDefault()
              product_slug = $(this).attr('data-slug')
              data = {
                  product_slug: product_slug
              }
              $.ajax({
                  type: "GET",
                  url: '{% url "add_to_cart" %}',
                  data: data,
                  success: function (data) {
                      $("#cart_count").html(data.cart_total)
                  }
              })
          })
      })
  </script>
       </div>
    </div>

{% endblock content %}
