{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<form action="{% url 'make_order' %}" method="POST">
    {% csrf_token %}
    <div class="col-sm-4">
        {{ form.name|as_crispy_field }}
    </div>
    <div class="col-sm-4">
        {{ form.last_name|as_crispy_field }}
    </div>
    <div class="col-sm-4">
        {{ form.phone|as_crispy_field }}
    </div>
    {{ form.buying_type|as_crispy_field }}
    {{ form.address|as_crispy_field }}
    {{ form.date|as_crispy_field }}
    {{ form.comments|as_crispy_field }}

    <input type="submit" class="btn btn-success" value="Оформить заказ" style="margin-top: 24px; margin-bottom: 25px">
</form>

<script>
    $(document).ready(function () {
        $('#div_id_address').css('display', 'none')
        $('#id_buying_type').on('click', function () {
            buying_type = $(this).val()
            if(buying_type == 'delivery'){
                $('#div_id_address').css('display', 'block')
            }else{
                $('#div_id_address').css('display', 'none')
            }
        })
        $('#id_buying_type').css({'width': '150px', 'display':'inline'})
        $('#id_address').css({'width': '250px', 'display':'inline'})
        $('#id_date_day').css({'width': '50px', 'display':'inline'})
        $('#id_date_month').css({'width': '100px', 'display': 'inline'})
        $('#id_date_year').css({'width': '100px', 'display': 'inline'})
    })
</script>
{% endblock content %}