{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <img src="{{ product.image.url }}" alt="" style="width: 100%; height: 350px;">
</div>

<div class="col-md-8">
    <h3 class="">{{ product.title }}</h3>
    <p>{{ product.description }}</p>
    <p><strong>Цена: {{ product.price}}</strong></p>
   {% if request.user.is_authenticated %} <a href="#" class="add_to_cart" data-slug='{{ product.slug}}'>
    <button class="btn btn-danger">Добавить в корзину</button></a>
    {% else %}
    <p class="text-center">Для заказа <a href="#">Войдите</a> или <a href="#">Зарегистрируйтесь</a></p>
    {% endif %}
</div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.add_to_cart').on('click', function f(e) {
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url "add_to_cart" %}',
                data: data,
                success: function (data) {
                    $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
</script>

{% endblock content %}
